body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: #FBE2D3;
}

.center{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #F67B94;
    }
    25%{
        transform: rotate(90deg);
        box-shadow: 1px 5px 2px #FFF2C3;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #428C90;
    }
    75%{
        transform: rotate(270deg);
        box-shadow: 1px 5px 2px #9660d4;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #204EB2;
    }
}

.ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
}

span{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    z-index: 3;
    animation: text 2s ease-in-out infinite;
}

@keyframes text {
    50%{
        color: black;
    }
}

.logo{
    position: absolute;
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    animation: logoEaseInOut 2s ease-in-out infinite;
}

@keyframes logoEaseInOut {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}